<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title><%= current_page.data.title || "ApplePie" %></title>
  <meta name="description" content="Semantic and Modular Responsive CSS Framework that is built on SASS" />
  <meta name="keywords" content="css, sass, framework, responsive" />
  <meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no" />
  <%=favicon_tag "favicon.ico" %>
  <%= stylesheet_link_tag "app" %>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <%= javascript_include_tag  "all" %>
  <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
  <script type="text/javascript">
    hljs.initHighlightingOnLoad();
  </script>
  <meta name='yandex-verification' content='7f52ed2a69a5c658' />
  <meta name="google-site-verification" content="_uEinoS__M5UW_4QdYFDUrAkU-IHaYMyGtt97Lhup3A" />
</head>
<body <%=section_class ? "class=#{section_class}" : nil%>>
  <ul class="side-navigation">
    <li>
      <%= link_to 'ApplePie', '/', class: 'logo'%>
    </li>
    <li <%= navigation_helper('approach')%>>
      <% link_to('/pages/approach') do %>
        <span class="icon-approach"></span>
        Approach
      <% end %>
    </li>
    <li <%= navigation_helper('toolkit')%>>
      <% link_to('/pages/toolkit/getting_started.html') do %>
        <span class="icon-toolkit"></span>
        Toolkit
      <% end %>
    </li>
    <li <%= navigation_helper('faq')%>>
      <% link_to('/pages/faq', { :class => 'faq'}) do %>
        <span class="icon-faq"></span>
        FAQ
      <% end %>
    </li>
    <li>
      <a href="http://github.com/railsware/applepie" target="_blank">
        <span class="icon-github"></span>
        GitHub
      </a>
    </li>
  </ul>
  <% if current_page.url != '/' %>
  <% unless /faq/ =~ current_page.url %>
  <ul class="side-subnavigation">
    <%= subnavigation %>
  </ul>
  <%end%>
  <%end%>
  <section class="content">
    <section class="body">
      <%= yield %>
    </section>
  </section>
  <%if current_page.url == '/' %>
  <footer class="footer">
    <div class="container row">
      <div class="left">
        <a href="http://railsware.com" class="crafted"><!-- crafted by Railsware --></a>
      </div> <!-- /left -->
      <div class="last-col pll">
        <div class="col2of3 prs">
          <div class="col1of2">
            <h6 class="mbs intensive">Products</h6>
            <ul class="footer-list">
              <li>
                <a href="http://pivotalbooster.com/">PivotalBooster</a>
              </li>
              <li>
                <a href="http://piro.railsware.com/">PiRo</a>
              </li>
              <li>
                <a href="http://mailtrap.io/">Mailtrap</a>
              </li>
            </ul>
          </div> <!-- /col1of2 -->
          <div class="col1of2">
            <h6 class="mbs intensive">Experience</h6>
            <ul class="footer-list">
              <li>
                <a href="http://railsware.github.io/">OpenSource</a>
              </li>
              <li>
                <a href="http://railsware.com/blog/">Blog</a>
              </li>
            </ul>
          </div> <!-- /col1of2 -->
        </div> <!-- /col1of2 -->
        <div class="col1of3 pls">
          <h6 class="mbs">Apple Pie</h6>
          <ul class="footer-list">
            <li>
              <a href="mailto:applepie@railsware.com">Mail us</a>
            </li>
            <li>
              <a href="https://github.com/alchapone">Alex</a> and <a href="https://github.com/varg">Dmitry</a> on GitHub
            </li>
            <li>
              <a href="https://twitter.com/a1chapone">@a1chapone</a> and <a href="https://twitter.com/varg_ua">@varg_ua</a> twitters
            </li>
          </ul>
        </div> <!-- /col1of2 -->
      </div> <!-- /row -->
    </div>
  </footer>
  <%end%>
  <script type="text/javascript">
    $(document).ready(function(){
      $('div.component').each(function(){example = new Example(this);});
      $('pre code').each(function(i, el){ html = codeClean($(el).html()); $(el).html(html) });
    });
  </script>
  <%= render_partial "layouts/yandex"%>
</body>
</html>
