<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title><%= current_page.data.title || "ApplePie" %></title>
  <%= stylesheet_link_tag "application" %>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <%= javascript_include_tag  "all" %>
</head>
<body class="<%= section_class %>">
  <nav class="navbar">
    <%= link_to 'ApplePie', '/', class: 'logo'%>
    <ul class="navigation">
      <li <%= navigation_helper('approach')%>><%= link_to "Approach", '/views/approach', class: "approach"%></li>
      <li <%= navigation_helper('toolkit')%>><%= link_to "Toolkit", '/views/toolkit', class: "toolkit"%></li>
      <li <%= navigation_helper('faq')%>><%= link_to "FAQ", '/views/faq', class: 'faq'%></li>
      <li><a href="http://github.com/alchapone/applepie" class="github">GitHub</a></li>
    </ul>
  </nav>
  <section class="content">
    <section class="body">
      <%= yield %>
      <footer class="footer">
        <div class="container row">
          <div class="left">
            <a href="http://railsware.com"><%= image_tag 'rw_logo.png'%></a>
          </div> <!-- /left -->
          <div class="last-col pll">
            <div class="col1of2 prs">
              <h6 class="mbs">Contacts</h6>
              <ul class="contact-list">
                <li>
                  <a href="mailto:applepie@railsware.com">Mail us</a>
                </li>
              </ul>
            </div> <!-- /col1of2 -->
            <div class="col1of2 pls">
              <h6 class="mbs">Railsware OSS</h6>
              <ul class="contact-list">
                <li>
                  <a href="http://scaffy.railsware.com/">Scaffy</a>
                </li>
                <li>
                  <a href="https://github.com/railsware/jdt">JDT</a>
                </li>
                <li>
                  <a href="http://github.com/railsware/caphub">CapHub</a>
                </li>
              </ul>
            </div> <!-- /col1of2 -->
          </div> <!-- /row -->
        </div>
      </footer>
    </section>
  </section>
  <script type="text/javascript">
    $(document).ready(function(){
      $("section.body").height($(window).height());
    });
  </script>
</body>
</html>
