<li><%= link_to 'Main Principles', '/pages/approach'%></li>
<li><%= link_to 'Styleguide', '/pages/approach/styleguide.html'%></li>
<li><%= link_to 'Components', '/pages/approach/components.html'%></li>
<li><%= link_to 'Naming Conventions', '/pages/approach/naming.html'%></li>
<li><%= link_to 'File Sctrucure', '/pages/approach/file_structure.html'%></li>
