<li><%= link_to('Getting Started', '/pages/toolkit/getting_started.html')%></li>
<li><%= link_to('Grid System', '/pages/toolkit/grid.html')%></li>
<li><%= link_to('Components', '/pages/toolkit/components.html')%></li>
<li><%= link_to('Helpers', '/pages/toolkit/helpers.html')%></li>
<!-- <li><%= link_to('Typography', '/pages/toolkit/typography.html')%></li> -->
<!-- <li><%= link_to('Customize', '/pages/toolkit/customize.html')%></li> -->
