<div class="subnavigation active">
  <ul>
    <li><%= link_to('Grid', '/views/toolkit/grid.html')%></li>
    <!-- <li><%= link_to('Typography', '/views/toolkit/typography.html')%></li> -->
    <li><%= link_to('Components', '/views/toolkit/components.html')%></li>
    <!-- <li><%= link_to('Customize', '/views/toolkit/customize.html')%></li> -->
    <li><%= link_to('Helpers', '/views/toolkit/helpers.html')%></li>
  </ul>
</div> <!-- /subnavigation -->
